// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.timer {
  @include w-h(100px, 50px);
  font-size: 50px;
  color: white;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.start {
  @include w-h(150px, 50px);
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  font-size: 30px;
  color: white;
  border: solid 3px white;
  cursor: pointer;
}

.tile-container {
  @include w-h(600px, 600px);
  border: solid 5px white;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 5px;
  row-gap: 5px;
}

.tile {
  @include w-h(100%, 100%);
  @include flexbox($ai: center, $jc: center);
  border: solid 5px transparent;
  background-color: black;
  color: white;
  font-size: 70px;
  cursor: pointer;
}

.hidden {
  color: black;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.rules {
  @include w-h(30px, 30px);
  border: solid 2px white;
  border-radius: 50%;
  object-fit: contain;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
