* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: black;
}

.timer {
  width: 200px;
  height: 50px;
  font-size: 50px;
  color: white;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 5px;
}

.start,
.stop {
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  font-size: 30px;
  color: white;
  border: solid 3px white;
  cursor: pointer;
}

@media (min-height: 800px) and (min-width: 800px) {
  .tile-container {
    width: 600px;
    height: 600px;
  }
}
@media (max-height: 799px) and (min-height: 600px) {
  .tile-container {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  .tile-container {
    width: 400px;
    height: 400px;
  }
}
@media (min-height: 600px) {
  .tile {
    font-size: 70px;
  }
  .rules-dropdown {
    width: 500px;
    height: 500px;
    font-size: 20px;
  }
  .rules-dropdown img {
    width: 200px;
    height: 200px;
  }
}
@media (max-height: 599px) {
  .tile-container {
    width: 300px;
    height: 300px;
  }
  .tile {
    font-size: 50px;
  }
  .rules-dropdown {
    width: 300px;
    height: 300px;
    font-size: 10px;
  }
  .rules-dropdown img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 599px) {
  .tile-container {
    width: 300px;
    height: 300px;
  }
  .tile {
    font-size: 50px;
  }
  .rules-dropdown {
    width: 300px;
    height: 300px;
    font-size: 10px;
  }
  .rules-dropdown img {
    width: 100px;
    height: 100px;
  }
}
.tile-container {
  border: solid 5px white;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 5px transparent;
  background-color: black;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.blank-tile {
  width: 100%;
  height: 100%;
  border: solid 5px transparent;
  background-color: white;
}

.hidden {
  color: black;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.rules {
  width: 30px;
  height: 30px;
  border: solid 2px white;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.rules-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid 2px white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  background-color: black;
  z-index: 10;
  cursor: default;
}
.rules-dropdown ul {
  list-style: none;
}
.rules-dropdown div {
  justify-self: center;
}
.rules-dropdown div img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}/*# sourceMappingURL=App.css.map */